[submodule "external/xcfun"]
	path = external/xcfun
	url = git://repo.ctcc.no/xcfun.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/svn2github/googletest.git
[submodule "external/truegrid"]
	path = external/truegrid
	url = https://github.com/rbast/truegrid.git
