[submodule "external/xcfun"]
	path = external/xcfun
	url = https://github.com/dftlibs/xcfun.git
[submodule "external/numgrid"]
	path = external/numgrid
	url = https://github.com/dftlibs/numgrid.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
