[submodule "external/xcfun"]
	path = external/xcfun
	url = git://repo.ctcc.no/xcfun.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/svn2github/googletest.git
[submodule "external/numgrid"]
	path = external/numgrid
	url = https://github.com/dftlibs/numgrid.git
